@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
    background: #eeeeee;
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

#container {
    display:grid;
    width: 90vw;
    margin: 0 auto;
    grid-template-areas:
        'sub1 sub2 sub3 sub4 sub5'
        'doc1 doc2 doc3 doc4 doc5';
}

.subtitle {
    font-family: 'Roboto Slab', serif;
    color: #cacaca;
    font-size: 2rem;
    width: 15vw;
    margin: 1vw;
    margin-top:5vw;
    padding-top: 0px;
    text-align: center;
}

#title span {
    font-weight: bold;
    color: #999;
}

.subtitle span {
    font-weight: bold;
    color: #999;
}

p {
    font-family: 'Roboto Slab', serif;
    color: #999;
    font-size: 0.9rem;
    width: 15vw;
    margin: 2vh auto;
    padding-top: 0px;
}

#circle-1 {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    position: absolute;
    border-radius: 50%;
    transition: all .5s linear;
    top: 20px;
    left: 20px;
    z-index: 999;
}

#circle-1 a span {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    color: #000;
}

#circle-1:hover {
    background-color: #cacaca;
}

#circle-1-text {
    top: 40px;
    position: relative;
    text-align: center!important;
    z-index: 1;
}

#circle-1 a {
    color: #000;
    text-decoration: none;
}

footer {
    background-color: #111111;
    background-image: linear-gradient(183deg, #111111 0%, #555555 100%);
    height: 5vh;
    width: 100%;
    bottom: 0;
    position: absolute;
    padding-bottom: 5vh;
}

footer p{
    color: #666;
    font-size: .9rem;
    text-align: center;
}
